<div class="content_cu">
    <div class="co_umime" id="co_umime">
        <ul>
            <li>
                <div class="polozka">
                    <div class="additional">
                        <p>černobílý, barevný tisk formátů až do velikosti A2 (420 x 594 mm)</p>
                        <div class="additional_btn pt_btn">
                            <h5>poptat tisk</h5>
                        </div>
                    </div>
                    <div class="basic">
                        <img src="grafika/cu_ofsetovy_tisk.png">
                        <h2>ofsetový tisk</h2>
                    </div>
                </div>
            </li>
            <li>
                <div class="polozka">
                    <div class="additional">
                        <p>vysoce kvalitní a cenově výhodný tisk formátů až do velikosti SRA3 (320x450mm)</p>
                        <div class="additional_btn pt_btn">
                            <h5>poptat tisk</h5>
                        </div>
                    </div>
                    <div class="basic">
                        <img src="grafika/cu_digitalni_tisk.png">
                        <h2>digitální tisk</h2>
                    </div>
                </div>
            </li>
            <li>
                <div class="polozka">
                    <div class="additional">
                        <p>tiskopisy dle aktuálních vzorů, recepty, poukazy, vyúčtování a mnoho dalších</p>
                        <div class="additional_btn ot_btn">
                            <h5>objednat tiskopisy</h5>
                        </div>
                    </div>
                    <div class="basic">
                        <img src="grafika/cu_zdravotnicke_tiskopisy.png">
                        <h2>zdravotnické tiskopisy</h2>
                    </div>
                </div>
            </li>
            <li>
                <div class="polozka">
                    <div class="additional">
                        <p>pokladní doklady, kniha docházky a další</p>
                        <div class="additional_btn ot_btn">
                            <h5>objednat tiskopisy</h5>
                        </div>
                    </div>
                    <div class="basic">
                        <img src="grafika/cu_hospodarske_tiskopisy.png">
                        <h2>hospodářské tiskopisy</h2>
                    </div>
                </div>
            </li>
            <li>
                <div class="polozka">
                    <div class="additional">
                        <p>zpracování grafických návrhů letáků, vizitek, plakátů, svatebních oznámení a dalších
                        </p>
                        <a href="mailto:info@bekros.cz">
                            <div class="additional_btn">
                                <h5>napište nám</h5>
                            </div>
                        </a>
                    </div>
                    <div class="basic">
                        <img src="grafika/cu_graficke_navrhy.png">
                        <h2>grafické návrhy</h2>
                    </div>
                </div>
            </li>
            <li>
                <div class="polozka">
                    <div class="additional">
                        <p>ručně zpracované vazby do plátna, diplomové práce a opravy knih</p>
                        <div class="additional_btn pt_btn">
                            <h5>poptat tisk</h5>
                        </div>
                    </div>
                    <div class="basic">
                        <img src="grafika/cu_kniharske_prace.png">
                        <h2>knihařské práce</h2>
                    </div>
                </div>
            </li>
            <li>
                <div class="polozka">
                    <div class="additional">
                        <p>vizitky, vstupenky, visačky, stravenky a mnoho dalších</p>
                        <div class="additional_btn pt_btn">
                            <h5>poptat tisk</h5>
                        </div>
                    </div>
                    <div class="basic">
                        <img src="grafika/cu_propagacni_tiskoviny.png">
                        <h2>propagační tiskoviny</h2>
                    </div>
                </div>
            </li>
            <li>
                <div class="polozka">
                    <div class="additional">
                        <p>letáky různých formátů, vazby V1, V2, kroužková</p>
                        <div class="additional_btn pt_btn">
                            <h5>poptat tisk</h5>
                        </div>
                    </div>
                    <div class="basic">
                        <img src="grafika/cu_letaky_brozury_knihy.png">
                        <h2>letáky & brožury, knihy</h2>
                    </div>
                </div>
            </li>
            <li>
                <div class="polozka">
                    <div class="additional">
                        <p>velkoplošný tisk s povrchovou úpravou</p>
                        <a href="mailto:info@bekros.cz">
                            <div class="additional_btn">
                                <h5>napište nám</h5>
                            </div>
                        </a>
                    </div>
                    <div class="basic">
                        <img src="grafika/cu_bannery_laminace.png">
                        <h2>bannery, roll-upy, billboardy, polepy aut a další</h2>
                    </div>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div><!-- /content_cu -->