<div class="content_on">
    <div class="o_nas" id="o_nas">
        <h1>TISKÁRNA BEKROS</h1>
        <p class="o_nas_01">Jsme již několik let odborníky na trhu se zdravotnickými tiskopisy, ke kterým jsme
            rozšířili nabídku i o tiskopisy hospodářské a ofsetový a digitální tisk.</p>

        <ul>
            <li>
                <div class="zdr">
                    <div class="o_nas_nadpis">
                        <h3>ZDRAVOTNICKÉ TISKOPISY</h3>
                    </div>
                </div>
                <p class="o_nas_02">Naše zdravotnické tiskopisy se prodávají po celé České republice a díky
                    rozsáhlé nabídce máme mnoho stálých zákazníků, kteří nám zachovávají přízeň. Naší výhodou je
                    osobní přístup a schopnost jednotlivé dokumenty uzpůsobit přesně podle potřeb kupujícího.
                </p>
            </li>
            <li>
                <div class="ofs">
                    <div class="o_nas_nadpis">
                        <h3>OFSETOVÝ TISK</h3>
                    </div>
                </div>
                <p class="o_nas_02">Ofsetový tisk u nás obsluhuje zkušený tiskař, který vyniká pečlivostí a
                    citem pro kvalitu výsledné tiskoviny. Letáky, plakáty, brožury a vše ostatní vždy vychází z
                    ofsetového tisku v nejvyšší možné kvalitě.</p>
            </li>
            <li>
                <div class="dig">
                    <div class="o_nas_nadpis">
                        <h3>DIGITÁLNÍ TISK</h3>
                    </div>
                </div>
                <p class="o_nas_02">Ani digitální tisk u nás nezůstává pozadu. Investovali jsme do kvalitního
                    tiskového stroje, který zákazníkovi zaručí skvělé výstupy a velmi dostupnou cenu za tisk.
                    Pravidelně se věnujeme kalibrování a údržbě stroje, takže nemusíte mít strach o výsledek
                    Vašich tisků. </p>
            </li>
            <div class="clear"></div>
        </ul>
        <p class="o_nas_01">Naším osobním přístupem se snažíme vyjít zákazníkovi vstříc, co nejvíce je to možné,
            proto se těšíme na jakékoliv Vaše dotazy a kreativitu Vašich dokumentů pro tisk!</p>


    </div>
</div><!-- /content_cu -->